<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="container" id="container">

      <div class="but-groups">

        <div id="btn"></div>
        <button onclick="login()">Login</button>
        <button>signUp</button>

      </div>

      <form id="signUp" action="index.html" method="post">

        <div class="inputBox">
            <input type="text" name="" value="" required="">
            <label>First Name</label>
        </div>
        <div class="inputBox">
            <input type="text" name="" value="" required="">
            <label>Last Name</label>
        </div>
      <div class="inputBox">
            <input type="email" name="" value="" required="">
            <label>E-Mail</label>
      </div>
      <div class="inputBox">
            <input type="text" name="" value="" required="">
            <label>Whats App Number</label>
      </div>
      <div class="inputBox">
            <input type="password" name="" value="" required="">
            <label>Password</label>
      </div>
      <div class="inputBox">
            <input type="password" name="" value="" required="">
            <label>Confirm Password</label>
      </div>
        <input type="submit" name="send" value="send">
        <h2>OR</h2>
        <button type="button" id="log-gmail"name="button">
          Sign-up With Gmail <i class="fa fa-google icon-style"></i>
        </button>
      </form>
    </div>
    <script>
        var x = document.getElementById("btn");
        x.style.left = "50%";
        function login() {
          window.open("index.html");
        }
      </script>
    </body>
</html>
