.jumbotron .h1, .jumbotron h1 {
  padding-top: 25px;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
}


.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    background: whitesmoke;
}

.h2, h2 {
    padding-top: 15px;
    font-size: 2rem;
}
